<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var arr=parseInt(prompt("enter the array elements"))
        // var arr = [10,20,5];
        arr.sort((a,b) => a-b);
        for(i=0;i<3;i++){
            console.log(arr[i] + "");
            
        }
    </script>
    
</body>
</html>